<a href="http://www.jupiterbroadcasting.com/46802/over-30-fauxshow-153/"><img src="http://i.imgur.com/gxM3i5y.png"></a>
<h1><b>[ Episode ]</h1></b>
<h1>""</h1>



<a href="link to show notes"><img src=""></a><br>
<i>click to view show notes</i>



<p><h2><b>Description:</b></h2></p>

<p><b>content</b></p>

<hr>

<p><h2><b>Downloads:</b></h2></p>

<h3><b>BtSync:</b></h3><br>
<img src="http://i.imgur.com/QWGXpEy.png"></a><b> BW6MGSVRP2USX3KLVUOVBPVRSNNEV2IVS</b><br>


<h3><b>RSS Feeds:</b></h3><br>
<a href="http://www.jupiterbroadcasting.com/feeds/FauxShowMP3.xml"><img src="http://i.imgur.com/zf4PB5H.png"></a><b> MP3 Audio</b>
<a href="http://www.jupiterbroadcasting.com/feeds/FauxShowHD.xml"><img src="http://i.imgur.com/zf4PB5H.png"></a><b> HD Video</b><br>
<a href="http://www.jupiterbroadcasting.com/feeds/FauxShowMobile.xml"><img src="http://i.imgur.com/zf4PB5H.png"></a><b>Mobile Video</b>
<a href="http://bitlove.org/jupiterbroadcasting/fauxshowhd/downloads.rss"><img src="http://i.imgur.com/zf4PB5H.png"></a><b>Torrent Feed</b><p>

<h3><b>Direct Download Links:</b></h3><br>
<a href=""><img src="http://i.imgur.com/JAEQGfQ.png"></a><b> MP3 Audio</b>
<a href=""><img src="http://i.imgur.com/JAEQGfQ.png"></a><b> HD Video</b><br>
<a href=""><img src="http://i.imgur.com/JAEQGfQ.png"></a><b>Mobile Video</b>

<hr>

<p>
<h2><b>Contact Via:</b></h2><br>
<a href="http://www.jupiterbroadcasting.com/contact/"><img src="http://i.imgur.com/Q1Q2Al8.png"></a><p>

<hr>
<h1>Brought to you by...</h1>
<a href="http://www.jupiterbroadcasting.com/"><img src="http://i.imgur.com/KrNuZoF.jpg"></a><br>
<a href="http://www.jupiterbroadcasting.com/support-us/"><img src="http://i.imgur.com/Wte2PG2.png"></a><br> 

<hr>
I am not officially associated with Jupiter Broadcasting or it's affiliates.<br>
<b>All rights reserved 2013 Jupiter Broadcasting</b>
<hr>

<p><h3><b>Affiliate Links:</b></h3><br>
 
<a href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=1&pub=5575027880&toolid=10001&campid=5337188513&customid=&ipn=psmain&icep_vectorid=229466&kwid=902099&mtid=824&kw=lg">eBay</a> | 
<a href="http://gan.doubleclick.net/gan_click?lid=41000000036346896&pubid=21000000000285109">Netflix US</a> | 
<a href="http://www.dpbolvw.net/click-4897915-10440554">NewEgg</a><br>
<a href="http://www.kqzyfj.com/click-4897915-10784884">Think Geek</a> | 
<a href="http://www.jdoqocy.com/click-4897915-10483113">Best Buy</a> | 
<a href="http://www.anrdoezrs.net/click-4897915-10780257">Mint.com</a> |
<a href="http://www.dpbolvw.net/click-4897915-10298646">Audible</a> | 
<a href="http://zfer.us/iln1s">Code School</a><br>
<a href="https://chrome.google.com/webstore/detail/bjekemhblnilimncanbehhjijdpjgimj">Chrome Extension</a> | 
<a href="https://addons.mozilla.org/en-US/firefox/addon/jupiterbroadcasting/">Firefox Extension</a></p>

<hr>
youtube
<hr>
<h2><b>Tags:</b></h2><br>
#jupiterbroadcasting #fauxshow #google #podcasts #shows #socialexperience
